.PaginationContainer {
  width: 50%;
  height: 100%;
  margin: auto;
  margin-top: 12px;
}

.PaginationButton {
  width: 120px;
  padding: 10px 12px;
  margin: 0 12px;
}

.PaginationInput {
  display: inline-block;
  width: 60px;
  padding: 10px 12px;
  margin: 0 12px;
  border-radius: 4px;
  box-shadow: 0 2px 6px #3d3d4f24;
}

.PaginationButton:disabled {
  background: #3d3d4f;
}

.PaginationButton:hover:disabled {
  filter: none;
  box-shadow: none;
  cursor: not-allowed;
}

@media screen and (max-width: 850px) {
  .PaginationContainer {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .PaginationContainer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .PaginationInput {
    margin: 12px 0;
    width: 100px;
    text-align: center;
  }
}
