.LayoutContainer {
  max-width: 1440px;
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .LayoutContainer {
    flex-flow: column nowrap;
    align-items: center;
  }
}