.FooterContainer {
  width: 100%;
  text-align: center;
  margin: 4rem 0;
  font-size: 1.1rem;
}

.FooterBlocks {
    margin: 0 12px;
}

.FooterBlocks a {
    margin: 0 4px;
    color: var(--text-color);
}

.FooterBlocks svg {
    width: 28px;
    height: 28px;
    stroke: var(--text-color);
}